KOMMO_SUBDOMAIN=ibrate
KOMMO_LONG_LIVED_TOKEN=
KOMMO_SYNC_ENABLED=false
RD_WEBHOOK_SECRET=
KOMMO_CURITIBA_PIPELINE_NAME=Funil Curitiba
KOMMO_CURITIBA_ENTRY_STAGE_NAME=NOVOS LEADS RD
KOMMO_SANTA_CATARINA_PIPELINE_NAME=Funil Santa Catarina
KOMMO_SANTA_CATARINA_ENTRY_STAGE_NAME=NOVOS LEADS RD
KOMMO_INTERIOR_PR_PIPELINE_NAME=Funil Interior do PR
KOMMO_INTERIOR_PR_ENTRY_STAGE_NAME=NOVOS LEADS RD
KOMMO_EQUILIBRA_PIPELINE_NAME=Funil Equilibra
KOMMO_EQUILIBRA_ENTRY_STAGE_NAME=NOVOS LEADS RD
