KOMMO_SUBDOMAIN=ibrate
KOMMO_LONG_LIVED_TOKEN=
KOMMO_SYNC_ENABLED=false
RD_WEBHOOK_SECRET=
KOMMO_CURITIBA_PIPELINE_NAME=Funil Curitiba
KOMMO_CURITIBA_ENTRY_STAGE_NAME=NOVOS LEADS RD
KOMMO_FILIAIS_PIPELINE_NAME=Funil Filiais
KOMMO_FILIAIS_ENTRY_STAGE_NAME=NOVOS LEADS RD
